<div class = "container-fluid">
	<%= link_to "Create New Project", new_project_path, class: "btn btn-primary"%>
	<div class = "row">
		<% if @projects.present? %>
			<div class = "issue"><h3>Your Projects</h3></div>
			<% @projects.each do |p| %>
				<div class = "col-sm-4">
					<table class="table table-hover project">
					
						<thead>
							<tr>
							<th>Name: <%= p.project_name %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Start Date: <%= date(p.start_date) %></td>
							</tr>
							<tr>
								<td>Target Date: <%= date(p.target_end_date) %></td>
							</tr>
							<tr>
								<td>End Date: <%= date(p.final_end_date) %></td>
							</tr>
							<tr>
								<td>Assigned Members: <%= p.users.count%></td>
							</tr>
							<tr>
								<td><%= link_to "View Details", project_path(p.id), class: "btn btn-primary"%>
								<%= link_to "Delete", project_path(p.id),  class: "btn btn-primary", method: :delete, data: {confirm: "Really delete the post?"} %>
								<%= link_to "Add Member", show_members_projects_path( :project_id => p.id), class: "btn btn-primary"%></td>
							</tr>
						</tbody>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class = "row">
		<% if @assigned_projects.present? %>
			<div class = "issue"><h3>Assigned Projects</h3></div>
			<% @assigned_projects.each do |p| %>
				<div class = "col-sm-4">
					<table class="table table-hover project">
						<thead>
							<tr>
							<th>Name: <%= p.project_name %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Start Date: <%= date(p.start_date) %></td>
							</tr>
							<tr>
								<td>Target Date: <%= date(p.target_end_date) %></td>
							</tr>
							<tr>
								<td>End Date: <%= date(p.final_end_date) %></td>
							</tr>
							<tr>
								<td>Assigned Members: <%= p.users.count%></td>
							</tr>
							<tr>
								<td><%= link_to "View Details", project_path(p.id), class: "btn btn-primary"%>
							</tr>
						</tbody>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
