<div class = "container-fluid">
	<div class = "row">
		<% if @projects.present? %>
			<h3>  Your Projects</h3>
			<% @projects.each do |p| %>
				<div class = "col-sm-4">
					<table class="table table-hover">
					
						<thead>
							<tr>
							<th>Name: <%= p.project_name %></th>
							</tr>
						</thead>
						<tbody>
							<tr class = "info">
								<td>Start Date: <%= p.start_date %></td>
							</tr>
							<tr class = "info">
								<td>Target Date: <%= p.target_end_date %></td>
							</tr>
							<tr class = "info">
								<td>End Date: <%= p.final_end_date %></td>
							</tr>
							<tr class = "info">
								<td>Assigned Members: <%= p.users.count%></td>
							</tr>
							<tr class = "info">
								<td><%= link_to "View Details", project_path(p.id), class: "btn btn-primary"%>
								<%= link_to "Delete", project_path(p.id),  class: "btn btn-primary", method: :delete, data: {confirm: "Really delete the post?"} %>
								<%= link_to "Add Member", show_members_projects_path, class: "btn btn-primary"%></td>
							</tr>
						</tbody>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class = "row">
		<% if @assigned_projects.present? %>
			<h3>  Assigned Projects</h3>
			<% @assigned_projects.each do |p| %>
				<div class = "col-sm-4">
					<table class="table table-hover">
						<thead>
							<tr>
							<th>Name: <%= p.project_name %></th>
							</tr>
						</thead>
						<tbody>
							<tr class = "info">
								<td>Start Date: <%= p.start_date %></td>
							</tr>
							<tr class = "info">
								<td>Target Date: <%= p.target_end_date %></td>
							</tr>
							<tr class = "info">
								<td>End Date: <%= p.final_end_date %></td>
							</tr>
							<tr class = "info">
								<td>Assigned Members: <%= p.users.count%></td>
							</tr>
							<tr class = "info">
								<td><%= link_to "View Details", project_path(p.id), class: "btn btn-primary"%>
							</tr>
						</tbody>
					</table>
				</div>
			<% end %>
		<% end %>
	</div>
	<%= link_to "Create New Project", new_project_path%>
</div>
