<div class = "container-fluid">
	<div class = "row">
		<div class = "col-sm-6">
			<table class="table table-hover">
				<thead>
					<tr>
					<th>Name: <%= @project.project_name %></th>
					</tr>
				</thead>
				<tbody>
					<tr class = "info">
						<td>Start Date: <%= @project.start_date %></td>
					</tr>
					<tr class = "info">
						<td>Target Date: <%= @project.target_end_date %></td>
					</tr>
					<tr class = "info">
						<td>End Date: <%= @project.final_end_date %></td>
					</tr>
					<tr class = "info">
						<td>Number of Assigned Members: <%= @members.count%></td>
					</tr>
					<tr class = "info">
						<td><% if @project.created_by == current_user.id.to_s %>
							<%= link_to "Edit", edit_project_path(@project.id), class: "btn btn-primary"%>
							<% end %>
							<%= link_to "Add Issue", new_project_issue_path(@project.id), class: "btn btn-primary"%>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class = "col-sm-6">
			<table class = "table table-hover">
				<thead>
					<tr>
						<th>Project Members</th>
					</tr>
				</thead>
				<tbody>
					<% @members.each do |i| %>
						<tr class = "success">
							<td><%= i.email%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-12">
			<table class = "table table-hover">
				<thead>
					<tr>
						<th>Title</th>
						<th>Deadline</th>
						<th>Priority</th>
						<th>Status</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @issue.each do |i| %>
						<tr>
							<td><%= i.title%></td>
							<td><%= i.deadline%></td>
							<td><%= i.priority%></td>
							<td><%= i.status%><br>
									<% if is_onprocess(i) and is_assigned(i)%>
										<%= link_to "set complete",project_issue_issues_complete_path(@project.id, i.id), method: :post%>
									<% end %>
									
									<% if is_pending(i) and is_assigned(i)%>
										<%= link_to "set processing",project_issue_issues_processing_path(@project.id, i.id)%>
									<%end%>
							</td>
							<td><% if created_by(@project)%>
									<%= link_to "Assign", project_issue_issues_show_members_path( :project_id => i.project_id, :issue_id => i.id), class: "btn btn-primary"%>
									<% end %>
							</td>
							<td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal-<%= i.id%>">View Details</button></td>
						</tr>
						<tr><!-- Modal -->
						<div id="myModal-<%=i.id%>" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <h4 class="modal-title"><%= i.title %></h4>
						      </div>
						      <div class="modal-body">
						        <p><%= i.description%></p>
						        <p> Assigned To: 
						        	<% i.users.each do|u|%></p>
							        <p><%= u.email%></p>
							       	<% end %>
							      <p>Status: <%= i.status%></p>
							      <p>Priority: <%= i.priority%></p>
							      <p>Deadline: <%= i.deadline%></p>
							      </p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						      </div>
						    </div>

						  </div>
						</div>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

