<div class = "available-user">
	<div class = "row">
		<div class = "col-sm-6">
			<h2>Available users</h2>
			<%= form_tag projects_add_members_path, method: :post do%>
				<% @users.each do |u| %>
					<%= check_box_tag "user_ids[]", u.id, false, :disabled=>is_assigned_to_project(@project, u.id)%>
					<%= u.email %><br>
				<% end %>
				<%= hidden_field_tag "project_id", @project.id%>

				<%= submit_tag ("add selected members")%>
			<% end %><br>
			
		</div>
		<div class = "col-sm-6">
			<h2>Project Members</h2>
				<% @members.each do|u| %>
					<%= u.email%>
				<% end %>
		</div>
	</div>
</div>

